<div class="container-fluid text-center">
    <h2>Greetings, @User.Username!</h2>
    <hr class="hr-2 bg-panda">   
</div>
<div>
    <table class="table table-hover table-bordered">
        <thead>
        <tbody>
            <tr class="row">
                <th scope="row" class="col d-flex">
                <h3 align="left">fbb536f4-7463-41d2-8650-4d1c87de722b</h3></th>
                <td class="col-lg-1 d-flex justify-content-center">
                    <a href="/ship" class="btn bg-panda text-white">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>