<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>HomePageLoggedIn</title>
</head>
<body>
    <h1>IRunes</h1>
    <ul> 
        <li><a href="/indexLoggedIn">Home</a></li>
        <li><a href="/albums">Albums</a></li>
        <li><a href="/index">Logout</a></li>
    </ul>
    <hr />
    <h1>Welcome, {{username}}</h1>
    <h2>IRunes wishes you a fun experience.</h2>
    <hr />
    <footer>
        <p><strong>CopyRight © Sanity Design Studios. All rights reserved.</strong></p>
    </footer>
</body>
</html>